.disclaimer{
  background-color: #192734;
  color:white;
  padding:20px 20px;
}
.partners{
  width: 100%;
  margin-top: -30px;
  background-color:black;
  color:white;
  text-align:left;
 /* padding-left:10px;*/
  padding-bottom:10px;
}
.title{
  text-align: center;
  color: white;
}

/*.leftdiv{
  width: 50%;
  float: left;
  height:100px;
  margin-left:30px;
}
.rightdiv{
  margin-left:40%;
  height:100px;
  margin-top:39px;
}*/
.endup{
  background-color: #192734;
  color:white;
  text-align: center;
  margin-top:-10px;
 padding:10px 10px;
 margin-bottom: 0px;
 margin-top:-23px;
}
.endup.dark{
  background-color:#28282B;
}
.disclaimer.dark{
  background-color:#28282B;
}